body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#settings-popup{
    position:fixed;
    left: 0;
    bottom: -50vh;
    right: 0;
    width: 100%;
    height: 50vh;
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: all 0.25s ease;
    box-shadow: rgba(149, 157, 165, 1) 0px 8px 25px;
}
#settings-popup input{
    width: calc(100% - 50px);
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 0.5rem;
    border: 0;
    background-color: #EFEFEF;
    padding-left: 15px;
    padding-right: 15px;
}
#settings-popup-confirm-btn{
    position: absolute;
    bottom: 90px;
    left: 25px;
    right: 25px;
    height: 50px;
    border-radius: 0.5rem;
    border: 0;
    background-color:#FF4D44;
    color: #000;
}
#settings-popup-close-btn{
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 50px;
    border-radius: 0.5rem;
    border: 0;
    background-color: #EFEFEF;
    color: #000;
}





.ptr--ptr {
    background-color: #fff;
}

.bg-blue {
    background-color: #3375BB;
}

.form-control {
    background-color: #1A1A1A !important;
    color: #fff !important;
    border-color: #343434;
}


.bg-dark-custom {
    background-color: #141417;
}

.bg-red {
    background-color: #FF3537;
}


.loading-gradient {
    animation-name: loading-gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 0;
}

@keyframes loading-gradient {
    0% {
        background-color: #EFEFEF;
    }

    50% {
        background-color: #F5F5F5;
    }

    100% {
        background-color: #EFEFEF;
    }
}

.rounded-5 {
    border-radius: .5rem;
}