body {
    background-color: #141417;
    color: #fff;

    font-family: 'Roboto', sans-serif;
}

.form-control{
    background-color: #1A1A1A !important;
    color: #fff !important;
    border-color: #343434;
}

.card {
    border-radius: 1rem;
    background-color: #19191E;
}

.bg-dark-custom{
    background-color: #19191E;
}

.bg-red{
    background-color: #FF3537;
}


.loading-gradient{
    animation-name: loading-gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loading-gradient{
    0%{
        background-color: #19191E;
    }
    50%{
        background-color: #222228;
    }
    100%{
        background-color: #19191E;
    }
}

.rounded-5{
    border-radius: .5rem;
}