body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    touch-action:pan-y;
}

#settings-popup{
    position:fixed;
    left: 0;
    bottom: 0;
    transform: translateY(50vh);
    right: 0;
    width: 100%;
    height: 50vh;
    padding-top: 25px;
    background-color: #181818;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: all 0.4s ease;
    color: #ffffff;
}
#settings-popup input{
    width: calc(100% - 50px);
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 1rem;
    border: 0;
    background-color: #333333;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
}
#settings-popup-confirm-btn{
    position: absolute;
    bottom: 115px;
    left: 25px;
    right: 25px;
    height: 50px;
    border-radius: 1rem;
    border: 0;
    background-color:#21E56F;
    color: #ffffff;
    font-weight: bold;
    width: auto;
}
#settings-popup-close-btn{
    position: absolute;
    bottom: 50px;
    left: 25px;
    right: 25px;
    height: 50px;
    border-radius: 1rem;
    border: 0;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    width: auto;
}
#settings-popup-close-btn:disabled{
    opacity: 0.5;
}

#wallet-reminder{
    position: fixed;
    height: 50px;
    background-color: #E02336;
    width: auto;
    left: 25px;
    right: 25px;
    top: -50px;
    border-radius: 1rem;
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    transition: all 0.4s ease;
}

.card{
    background-color: #333333;
    border-radius: 1rem;
}


.text-center{
    text-align: center;
}

.mb-0{
    margin-bottom: 0;
}

.fw-bold{
    font-weight: bold;
}

.text-light{
    color: #9E9EA0 !important;
}

.ptr--ptr {
    background-color: #222222;
}

.bg-blue {
    background-color: #3375BB;
}

.text-green{
    color: #21E56F;
}

.text-red{
    color: #E02336;
}

.form-control {
    background-color: #1A1A1A !important;
    color: #fff !important;
    border-color: #343434;
}


.bg-dark-custom {
    background-color: #141417;
}

.bg-red {
    background-color: #FF3537;
}


.loading-gradient {
    animation-name: loading-gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 0;
}

@keyframes loading-gradient {
    0% {
        background-color: #333333;
    }

    50% {
        background-color: #3F3F3F;
    }

    100% {
        background-color: #333333;
    }
}

.rounded-5 {
    border-radius: .5rem;
}